.container-messages {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    overflow: auto;
}
.message {
    margin: 10px 0;
    display: flex;
    align-items: center;
    max-width: 500px;
}
.message__text{
    width: auto;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    background-color: rgb(201, 201, 201);
}
.my_message {
    background-color: rgb(79, 165, 245);
    color: #fff;
}

.ticket_actions {
    margin-top: 20px;
    display: flex;
    align-items:center;
}